DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nps_agro
DATABASE_URL_TEST=postgresql://postgres:postgres@localhost:5432/nps_agro_test
PORT=3000
JWT_SECRET=change-me
JWT_EXPIRES_IN=1h
JWT_EXPIRES_IN_SECONDS=3600
